.Title {
  width: 100%;
  font-size: 24px;
  color: gray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content {
  margin: 30px 20px;
 padding: 20px;
 box-shadow: 3px 3px 6px 4px rgb(201, 201, 201);
}
