.invoice-head{
  width: 100%;
  font-size: 34px;
  color: gray;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


p{
    font-family:'Nunito', sans-serif;
    color: black;
    margin-bottom: 3px;
    font-weight:400;
}
.invoice-main{
    margin-left: 20px;
}
.header{
    color: orange;
    font-weight: bolder;
    font-size: 20px;
}

h1{
    margin-top: 50px;
    font-weight: bold;
    display: flex;
    font-size: 15px;
    margin-bottom: 10px;
}

.receiver{
    float: left;
    
    
}
.order-info{
    float: left;
    margin-left: 180px;

}

.ivoice-info{
    float: left;
    margin-left: 180px;
    position: relative;
}

.invoice-table{
    position: absolute;
    margin-top: 200px;
   
}

table{
   
    width: 900px;
    height: 200px;

}

th{
    /* border-bottom: 1px solid black; */
    background-color: gainsboro;
    text-align: center;
    

}


td{
    text-align: center;
   
}
.total{
    float: right;
    background-color: rgb(255, 205, 111);
    width: 900px;
    height: 80px;


}
.total-body{
    margin-top: 10px;
    margin-left: 730px;
}
.borders{
    border: 1px solid gray;
    margin-top: 5px;
    width: 140px;
   

}

.buttons{
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: orange;
    border-radius: 0px;
    
    
}
@media print{
	.hide-on-print{
		display: none;
	}

    .after-print{
        margin-top: 20px;
        align-items: center;
        margin-left: -85px;
        
    }
    .total-print{
        margin-left: -80px;
        margin-top: 50px;
    }

    .after-print-head{
        background-color: rgb(0, 0, 0);
        text-align: center;
        margin-right: 45px;
        border-bottom: 1px solid rgb(175, 175, 175);
    }

    .info-print{
        margin-left: 0px;
        margin-top: 30px;
    }
   


}
 p{
    
    font-size: small;
 }
 h3{

        width: 100%;
        font-size: 30px;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
.label_invoice{
    align-items: center;
    justify-content: center;
    margin-left: 252px;
    margin-top: 20px;
    background-color: orange;
    padding: 10px;
    cursor: pointer;

    width: 150px;
    color: white;
    margin-top: 10px;
    
    

 }

 .img-file{
    width: 20px;
    height: 20px;
 }
 
input{
    margin-top: 20px;
}
 
#upload{
    background-color: white;
}

.datatable {
  height: 620px;
  padding: 20px;

  .datatableTitleHistory {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link-new {
      text-decoration: none;
      color: white;
      background-color: orange;
      font-size: 16px;
      font-weight: 400;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.passive {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 10px;
      border-radius: 5px;
      color: white;
      background-color: orange;
      cursor: pointer;
    }

    .deleteButton {
      padding: 10px;
      border-radius: 5px;
      color: white;
      background-color: orange;
      cursor: pointer;
    }
  }
}

.table {
  margin-top: 20px;
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.Pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
  }
}
