.login-head{
    margin-bottom: 80px;
    font-size: xx-large;
}

.inputs{
    margin-top: 1px;
    width: 360px;
}

/* .image1{
    width: 30px;
    margin-top: 80px;
    margin-left: 80px;
    justify-content: center;
    justify-items: center;
} */