.datatableTitle-setting {
  width: 100%;
  font-size: 24px;
  color: gray;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-info {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 4px 6px rgb(238, 235, 235);
  width: 40%;
  height: auto;
  padding: 20px 0px;
  align-items: center;
}
.account {
  display: flex;
  justify-content: center;
}
.form-column {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.inputs {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  border: none;
  background-color: rgb(230, 227, 227);
  padding: 8px;
}

button {
  padding: 10px;
  background-color: orange;
  border: none;
  color: white;
  border-radius: 5px;
}
button:focus {
  padding: 10px;
  background-color: orange;
  border: none;
  color: white;
  border-radius: 5px;
}
.submit-button {
  margin-left: auto;
  margin-right: 0;
  margin-top: 20px;
  width: 40%;
}

select {
  padding: 8px;
  background-color: rgb(230, 227, 227);
  border: none;
}

.scroll-bar {
  width: 100%;
  max-height: 250px;
  overflow: auto;
}

.read-content li {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 20px;
}
.button-close {
  background-color: white;
  color: orange;
  size: 50px;
  height: 10%;
  font-size: 20px;
}