.new {
    width: 100%;
    display: flex;
  
    .newContainer {
      flex: 6;
      
  
      .top-new,
      .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 10px;
        margin: 20px;
        display: flex;
        
  
        .heading-top {
          color: lightgray;
          font-size: 20px;
          margin-top: 15px;
        }
       
      }
    }
  }
.head{
    float: center;
    margin-left:400px;
    margin-top: -10px;
}
  .devices{
    float: center;
    margin-left:120px;
  }
  .check{
    padding-right: 300px;
  }
  .input{
    float: center;
    margin-left:40px;
   
  }
  label{
    font-weight: bolder;
    margin-right: 30px;
  }
  .assign{
    margin-top: 30px;
    margin-left:50px;
    width:90px;
    border-radius: 5px;
  }
  .main{
    margin-left: 40px;
  }

  .items{
    margin-top: 20px;
    

  }
  .title {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bolder;
  }
  .list-container {
    gap: 10px;
    border: 1px solid rgb(194, 194, 194);
    width: 170px;
    padding: 20px;
    padding-top:5px;
    overflow-y:scroll;
    height: 180px;

  }
  .checked-item,
  .not-checked-item {
    margin-left: 10px;
  }
  .checked-item {
    text-decoration: line-through;
  }
  